@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
}
